
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_PersonelLayout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="text-center">
    <img src="~/personel_panel/assets/img/illustrations/rocket-white.png" class="rounded" alt="..." height="300">
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Oppppssss....</h1>
        <p class="lead">Maalesef Şuan Burada Gösterecek Bir Şey Yok.</p>
    </div>
</div>
